
/* GENERAL*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.hide{
    display:none;
}
/* HEADER */
header{
    display:flex;
    justify-content: space-between; 
    padding: 2rem 4rem;
    background-color: white;
    z-index:3;
}
/* NAVIGATION */
.nav-desktop{
    display:flex;
    align-items: flex-end;
}
.nav-item:hover{
    font-style:italic;
}
.nav-phone{
    display:none;
}
.nav-list{
    display: flex;
}
.nav-item{
    margin:0 2rem;
}
/* .en a{
    color:#1979AF;
} */
.img-logo{
    height:50px;
}

/* ACCUEIL*/
main{
    min-height:calc(100vh - 114px);
    display:flex!important;
    justify-content: center;
    align-items: center;
}
video{
    width:100%;
}

/* ---HEADER ADAPTATIF ELEPHONE ---*/
 @media (max-width: 699px) {
    .nav-phone{
        display: flex;
        z-index:15;
    }
    .nav-desktop{
        display:none;
    }
    .img-logo{
        height:25px;
    }
    .nav-list-phone{
        position: absolute;
        top:73px;
        right:0;
        background-color:#CCE5CC;
        height:calc(100vh - 73px); 
        display:flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(1, 1);
        transition: transform 200ms;
        transform-origin: 100% 50%;
        z-index: 2;
        box-shadow: -5px 0px 10px -5px grey;
    }
    .nav-list-phone.hide{
        transform: scale(0, 1);
    }
    .nav-item{
        font-size: 36px;
        margin: 2rem;
    }
}

