/* REGLES GENERALES SUR ELEMENTS HTML POUR TOUT LE SITE */ 

html{
    min-height:100%;
}
ul{
    list-style-type: none;
}
/* TEXTES : taille/police */
p,a,h1,h2,h3,span, li{
    font-family:'Poppins', sans-serif; 
}

h2,h1{
    font-size: 76px;
    font-weight: 300;
}
p{
    font-size: 24px;
}
h3{
    font-size: 18px;
    font-weight: 500;
}
li{
    font-size: 18px;
}


/* COULEURS ARRIERE PLAN*/
.corail{
    background-color: var(--color-corail)!important;
}
.bleu{
    background-color: var(--color-bleu)!important;
}
.rose{
    background-color: var(--color-rose)!important;
}
.vert{
    background-color: var(--color-vert)!important;
}
.jaune{
    background-color: var(--color-jaune)!important;
}

@media (max-width: 699px) {
    h1,h2{
        font-size: 44px;
    }
    p{
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
}
@media (min-width: 700px) and (max-width:799px) {
    h1,h2{
        font-size: 44px;
    }
    p{
        font-size: 16px;
    }
}
