/* CSS POUR L'ANIMATION D'INTRO page accueil*/

body{
    margin:0;
    position:relative; /* Pour div animation en plein écran*/
}
/* Style du NOM*/
.nom-intro{
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 5.5em;
    position: absolute;
    top:50%;
    left:25%;
    margin:0;
    transform-origin: 0 0;
    color:white
}
/* FOND COLORÉ ANIMÉ*/
.fond-colore{
    width:100%; /* Fond de toute la largeur de l'écran*/
    height:100vh;/* Fond de toute la hauteur de l'écran*/
    background-color: var(--color-corail); /* Couleur Corail*/
    transform-origin: 0 0; /* Pour que l'animation parte de la gauche de l'écran*/
    transform: scaleX(0);/* Scale de départ de l'animation */
}
/* PLACEMENT DE L'ANIMATION */
.intro{
    position:fixed;/* Positionner l'intro sur tout l'écran*/
    top:0; /* Départ du haut de l'écran*/
    z-index:15;/* Pour passage par dessus barre de navigation */
    min-width:100%;
}

@media (max-width: 699px){
    .nom-intro{
        font-size: 4em;
    }
}
