/*IMAGES*/
.image img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.illu{
    margin:25px 0;
}
/*COMPETENCES*/
.competences{
    display:flex;
}
.competences .reponse{
    padding-right:25px;
}
/* BEFORE/AFTER */
.autresProjets{
    width:100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:50%;
}
.flechesvg{
    /* stroke: var(--color-bleu); */
    stroke: black;
}
.navProjet{
    background-color: white;
    /* display:flex; */
    padding: 5px;
    padding-left:15px;
    border-radius:2px;
}
.navProjet:nth-of-type(2){
    padding-left:5px;
    padding-right:15px;
}
.fleche-before{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.legende{
    /* color: var(--color-bleu); */
    color: black;
    font-size:14px;
}
/* STRUCTURE PAGE */
html{
    scroll-behavior: smooth;
}
.container{
    /* background-color: var(--color-vert); */
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.un-projet-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 20px 50px;
    align-content: stretch;
    height: calc(95vh - 114px);
    width:100%;
    /* width: 100vw;
    height: 100vh; */
}

.un-projet{
    grid-area: 3 / 2 / 11 / 8;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap:20px 50px;
    width:100%;

}
.contenu{
    grid-area: 1 / 2 / 9 / 7;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: white;
}
.texte{
    grid-area: 2 / 2 / 8 / 6;
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: flex-start;
}
.image{
    background-color:grey;
    grid-area: 2 / 1 / 8 / 3;
}
.props{
    display:flex;
    justify-content: space-around;
    background-color: var(--color-bleu);
    width:100%;
    /* border-top: solid 2px white; */
    /* border-bottom: solid 2px white; */
}
.titre-props{
    color: var(--color-vert);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom:25px;
}
/* .titre{
    font-size: 96px;
    font-weight: 300;
} */
/* .description{
    font-size: 24px;
} */
.reponse{
    color: white;
    font-size: 30px;
    text-transform: capitalize;   
}
.proprietes{
    margin: 50px 0;
}

.image-projet{
    width:100%;
    height: 750px;
    background-color: grey;
    margin:25px 0;
}
.small{
    width:80%;
}
.retour{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}

 @media (max-width: 699px) {
     .un-projet-container{
         height: calc(80vh -  73px);
     }
    .image{
        display:none;
    }
    .contenu{
        grid-area: 1 / 1 / 9 / 7;
    }
    /* .description{
        font-size: 12px;
    }
    .titre{
        font-size: 36px;
    }
    .titre-props{
        font-size: 14px;
    } */
    .reponse{
        font-size: 24px;
    }  
    .props{
        flex-direction: column;
        align-items: center;
    }
    .proprietes{
        margin: 25px 0;
        text-align: center;
    }
    .small{
        width:100%;
    }

    
}
@media (min-width:700px) and (max-width:799px){
    .un-projet-container, .un-projet{
        grid-gap:20px;
        height: auto;
    }
    /* .description{
        font-size: 16px;
    }
    .titre{
        font-size: 54px;
    }
    .titre-props{
        font-size: 16px;
    } */
    .reponse{
        font-size: 26px;
    }  
}


@media (min-width:800px) and (max-width:999px){
    .un-projet-container, .un-projet{
        grid-gap:20px;
    }
    /* .description{
        font-size: 16px;
    }
    .titre{
        font-size: 54px;
    }
    .titre-props{
        font-size: 16px;
    } */
    .reponse{
        font-size: 26px;
    }  
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .un-projet-container, .un-projet{
        grid-gap:20px;
    }
    /* .description{
        font-size: 16px;
    }
    .titre{
        font-size: 54px;
    }
    .titre-props{
        font-size: 16px;
    } */
    .reponse{
        font-size: 26px;
    }  
}
