.blanc{
    color:white!important;
}
/* GÉNÉRAL */
body{
    align-content: stretch;
    width: 100vw;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
header{
    grid-area:1 / 1 / 2 / 9;
}

/* ---SECTION NAVIGATION POINTS---*/
.points{
    position: fixed;
    top:50%;
    left:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:10;
}
/*CERCLE PAR DEFAULT*/
.cercle{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: lightgrey;
    margin-bottom:var(--space-base);
}
/* EFFET DE HOVER POINTS*/
.cercle:hover{
    transform: scale(1.1);
    transition: transform 200ms;
}
/* POINT DU PROJET SELECTIONNÉ*/
.cercle.bleu, .cercle.vert,.cercle.corail, .cercle.jaune,.cercle.rose{
    transform: scale(1.2);
    transition: transform 200ms;
}

/* ---SECTION PROJETS (contenant pour tous)---*/


.projets{
    position: relative;
    min-width:80%;
    min-height: calc(100vh - 122px);
}
/* BOX UN PROJET VISIBLE */
.unProjet-container.visible{
    opacity:1;
    transition: all 500ms;
    transform: translateX(0);
    z-index:10;
}
/* BOX UN PROJET */
.unProjet-container{
    position:absolute;
    height: 80vh;
    opacity:0;
    transform: translateX(-50px);
}
/* UN PROJET SOUS CONTAINER*/
.unProjet{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap:20px 50px;
    width:100%;
    height: 100%;
}

/*--- CONTENU UN PROJET---*/

.contenu{
    grid-area: 1 / 2 / 9 / 7;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
/* IMAGE DU PROJET*/
.image{
    background-color:grey;
    grid-area: 2 / 1 / 8 / 3;
}
.image img{
    object-fit: cover;
    width:100%;
    height:100%;
}

/* SECTION TEXTES*/
.texte{
    grid-area: 3 / 2 / 7 / 5;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* TYPE */
.type{
    color: #1979AF;
    text-transform: uppercase;
}
/* TITRE*/
.titre, .description{
    color: white;
}
/* LIEN FLECHE */
.fleche{
    transform-origin: 0% 50%;
    padding: var(--space-base) var(--space-base) var(--space-base) 0;
    height:auto;
}
.fleche:hover{
    transform: scaleX(1.2);
    transition: transform 200ms;
}




/* ---RESPONSIVE TELEPHONE--- */
@media (max-width: 699px) {
    body{
        display: block;
    }
    .cache{
        transform:none;
    }
    /* ENLEVER NAVIGATION AVEC POINTS */
    .points{
        display: none;
    }

   .container-projets{
    display: flex;
    flex-direction: column;
   }
   /* MONTRER TOUS LES PROJETS*/
   .unProjet-container{
       opacity:1;
       position: inherit;
       min-height: 80vh;
       margin: var(--space-base) 0 var(--space-double);
   }

   header{
    grid-area:1 / 1 / 2 / 8;
    }
    .unProjet{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap:20px;
        min-height:100%;
        height:auto;
    }
    .contenu{
        grid-area:1 / 2 / 5 / 6;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap:20px;
    }
    .image{
        grid-area:3 / 1 / 6 / 4;
    }
    .texte{
        grid-area: 1 / 2 / 6 / 6;
        justify-content: space-around;
        align-items: flex-end;
    }
    .texte>section{
        align-self:flex-start;
    }
    .description{
        font-size: 16px;
        display: none;
    }
}

/* --- ADAPTATIF TABLETTE --- */

@media (min-width:700px) and (max-width:799px){
    .texte{
        grid-area: 3/3/7/6;
    }
    .image{
        grid-area: 2/1/8/4;
    }
    .description{
        margin-right: 20px;
    }
}

/* ---  GRANDS ECRANS--- */
@media (min-width: 2000px) {
    main{
        max-width:80%;
        margin:auto;
    }
}
